@import "tailwindcss";

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

:root {
  --primary-color: rgba(0, 119, 182, 1);
  --secondary-color: rgba(0, 150, 199, 1);
  --paragraph-color: rgb(199, 143, 255);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}
.paragraph-color {
  color: var(--paragraph-color);
}

.bg-gradient-custom {
  background: linear-gradient(
    135deg,
    rgba(0, 119, 182, 1) 0%,
    rgba(0, 150, 199, 1) 25%,
    rgba(0, 180, 216, 1) 50%,
    rgba(72, 202, 228, 1) 75%,
    rgba(144, 224, 239, 1) 100%
  );
}

.bg-gradient-custom-hover:hover {
  background: linear-gradient(
    135deg,
    rgba(0, 119, 182, 1) 0%,
    rgba(0, 150, 199, 1) 25%,
    rgba(0, 180, 216, 1) 50%,
    rgba(72, 202, 228, 1) 75%,
    rgba(144, 224, 239, 1) 90%,
    rgba(140, 100, 255, 1) 100%
  );
}


.bg-primary-color {
  background-color: rgba(0, 119, 182, 1);
}
.glass-primary {
  background: rgba(140, 100, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999px; /* full rounded */
}

.bg-secondary-color {
  background-color: rgba(0, 150, 199, 1);
}